<p>assessment works!</p>

<div>
    In the following free assessment of 15 mins and 34 questions we have offered
    you a brief understanding of your Resilience,Positive Affectivity,
    Emotional Stability and Adaptibility.
    
PLEASE FEEL FREE TO TAKE THE ASSESSMENT AND HELP YOURSELF TO COPE UP WITH YOUR 
    CHALLANGES AND ENHANCE YOUR WELL-BEING.
</div>

<div class="container">
<div class="card border-dark mb-3">
    <div class="card-header"><b>Mental WellBeing Assestment</b></div>
    <div class="card-body text-dark">
      <h5 class="card-title"></h5>
      <p class="card-text">
           Duration: 15 mins
           Questions: 34
           Traits Evaluated: Resilience,Positive,Affectivity,Emotional Stability and Adaptibility.
</p>
<p>
    Report: Immediately download report in PDF format
</p>
<div>
    <form>
        <p>Select Language</p>
        <input type="radio" class="bullets"  name="gender" value="male"> Male
        <input type="radio" class="bullets" name="gender" value="female"> Female
        <input type="radio" class="bullets" name="gender" value="other"> Other
      </form>
</div>
    </div>
    </div>
