<div class="container">
    <div class="row">
        <div class="col-lg-5  col-sm-12 col-md-12 assessDesc">
            <div>
                <!-- text  -->
                <p id="small" class=" assessDetails">
                    In the following free assessment of 15 mins and 34 questions we have offered
                    you a brief understanding of your Resilience,Positive Affectivity,<br>
                            Emotional Stability and Adaptibility.</p>
            </div>
            <div>
                <br>

                <p id="caps" class=" assessDetails" style=" font-weight: bold;">
                    PLEASE FEEL FREE TO TAKE THE ASSESSMENT AND HELP YOURSELF TO COPE UP WITH YOUR
                    CHALLANGES AND ENHANCE YOUR WELL-BEING.
                </p>
            </div>
        </div>

      <!-- card section -->

      <div class="col-lg-2 col-sm-12 col-md-12  assessDesc">&nbsp;</div>
        <div class="col-lg-5  col-sm-12  col-md-12 card border-dark mb-5">
            <div class="card-header"><b>Mental WellBeing Assestment</b></div>
            <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    Duration: 15 mins
                    Questions: 34
                    Traits Evaluated: Resilience,Positive,Affectivity,Emotional Stability and Adaptibility.</p>
                <p>Report: Immediately download report in PDF format</p>

                <form>
                    <p>Select Language</p>
                    <input type="radio" class="bullets" name="gender" value="male"> English
                    <input type="radio" class="bullets" name="gender" value="female"> मराठी

                    <input type="radio" class="bullets" name="gender" value="other"> हिंदी
                </form>
                <br>
                <div>
                    <button class=" OB btn btn-danger">Take Test</button>
                </div>
            </div>
        </div>
    </div>




</div>