<div class="container" style="margin-bottom: 0px;">
  <div class="demo1 jumbotron" style="background-image: url(assets/images/image1.jpg);">

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="assets/images/image3.png" style="width:100px; height:50px; padding-top: 0px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Home" href="home/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/AboutUs" href="about-us/">AboutUs</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Products" href="products/">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Assessment" href="assessment/">Assessments</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="ContactUs" href="contactus/">ContactUs</a>
          </li>
          <button class="btn btn-danger navbar-btn">Log In</button>
        </ul>
      </div>
    </nav>
    <hr>
    <div style="z-index: 10000;position: absolute; bottom :100px ; right:100px; color:white; border:white solid 2px;">
      WELL BEING</div>
  </div>
  <br>

  <router-outlet></router-outlet>


  <div class="container">
    <br>
    <img src="assets/images/image2.png">
    <br>


    <h2>About Well Being</h2>
    <br>
    <br>
    <P class="font">
      Just as we all have physical health;
      we all have mental health too. Mental health refers to our psychological or emotional health and wellbeing.
      It is about how we think, how we feel, how we behave, how life affects us and how we cope with it, how we engage
      with others, and the choices we make. Mental wellbeing is an Integral part of our overall health.
      Society often thinks of health as something biological and physical:the
      condition of our body, how healthy we eat, the physical exercise we do.
    </P>
    <p class="font">
      A key component of health Is missing from this, though. It's mental wellbeing,
      which encompasses our Inner workings and the way we describe how we are In our lives,
    </p>
  </div>
</div><br>
<br>
<br>
<div class="container">
  A key component of health Is missing from this, though. It's mental wellbeing,
  which encompasses our Inner workings and the way we describe how we are In our lives,
</div>
<br><br>

<div class="container">
  <div class="card border-dark mb-3">
    <div class="card-header"><b>Mental WellBeing Assestment</b></div>
    <div class="card-body text-dark">
      <h5 class="card-title"></h5>
      <p class="card-text">
        Duration: 15 mins
        Questions: 34
        Traits Evaluated: Resilience,Positive,Affectivity,Emotional Stability and Adaptibility.</p>
      <p>Report: Immediately download report in PDF format</p>

      <form>
        <p>Select Language</p>
        <input type="radio" class="bullets" name="gender" value="male"> English
        <input type="radio" class="bullets" name="gender" value="female"> मराठी

        <input type="radio" class="bullets" name="gender" value="other"> हिंदी
      </form>
      <br>
      <div>
        <button class="btn btn-danger" style="background-color: rgb(255,153,20); width:120px;">Take Test</button>
      </div>
    </div>
  </div>
</div>
<div class=" assessDesc">
 <div class="row">
  <div class="col-lg-12"> 
  <p id="small" class=" assessDetails">
    In the following free assessment of 15 mins and 34 questions we have offered
    you a brief understanding of your Resilience,Positive Affectivity,
    Emotional Stability and Adaptibility.</p>
  </div>
  


  <div>
    <br>
    
    <p id="caps" class="container assessDetails" style=" font-weight: bold;">
      PLEASE FEEL FREE TO TAKE THE ASSESSMENT AND HELP YOURSELF TO COPE UP WITH YOUR
      CHALLANGES AND ENHANCE YOUR WELL-BEING.
    </p>
  </div>
  </div>
</div>
<br>
<br>
<br>









