@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
.demo1{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-size: 100%; 
    height:500px; width:100%;
background-repeat: no-repeat;
}
.nav-link{
    color: white;
    margin-right: 20px;
}
hr{
    border: 1px solid white;
    margin-top:00px ;
}

h2{
    color: orange;
}
img{
    width:559px;
    height:673px;
    float: right;
    margin-top: -40px;
}
    
    .font{
        font-family: 'Open Sans', sans-serif;    
            color: gray;
            font-size: 20px;
            font-weight: lighter;
    }
    .bullets{
        display: inline;
        width: auto;
        list-style: none;
      }
    
#caps{
    color:orange;
    font-size: 24px;
}
#small{
    color: lightseagreen;
    font-size: 24px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  .card{
    max-width: 20rem; height: 25rem; float:right;
   border-style: none;
    /* border: 2px grey groove; */
    box-shadow: 5px 5px 5px 5px grey;
padding-top: -30px;

}
.assessDesc{
    line-height: 200%;
    padding-top : 30px;
    padding-right : 150px;
    font-family: 'Open Sans', sans-serif;    
    margin-left : 10%;
    padding-left: 150px;
}

.assessDetails{
padding-right :140px;
   
}
.logo{
    width:30%; 
    height:50px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.f1{
    color:white; margin-left: 25px; font-size: 14px;
}
.botlist{
    line-height: 200%;
}
.firstFoot{
    font-size: small;
}
.wellB{
    padding:30px;
    border : white 2px solid;
    color : white;
    z-index: 100000;
    position: absolute;
    left : 700px;
    top : 300px;
    font-size: 30px;
    padding-right: 60px;
    padding-left: 60px;
}    
.orange{
    position: absolute;
    left:15px;
    top:40px;
    width:20px;
    height:20px;
    background-color: orange;
    float:left;
        opacity: 60%;
}

.green{
    position: absolute;
    left:667.5px;
    top:267.5px;
    width:65px;
    height:65px;
    background-color: lightseagreen;
    float: left;
    opacity:55%;
}