<h1 style="color:orange">Articles</h1>
<!-- <h2>Vertical Line</h2> -->
<div class="vl" ></div>
<div class="row card-deck " style="z-index: 10000000; width:95%" >
    <div class=" col-lg-4 card">
      <img  src="assets/images/articles-1.jpg" class="card-img-top spaced" alt="...">
      <div class="card-body">
        <h5 class="card-title">Keep cooling During a Disaster</h5>
        <p class="card-text">Have you at any point asked why a few people appear to resist the urge to panic notwithstanding catastrophe...</p>
        <p class="card-text"><small class="text-muted"></small></p>
        <button onclick="myFunction()" id="myBtn"><b>Read more</b></button>

      </div>
    </div>
    <div class="col-lg-4 card">
      <img src="assets/images/articles-2.jpg" class="card-img-top spaced" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adaptibility:Managing Change</h5>
        <p class="card-text">Do you wind up feeling on edge and stressed when you thoroughly consider what every day holds for you? Change.</p>
        <p class="card-text"><small class="text-muted"></small></p>
        <button onclick="myFunction()" id="myBtn"><b>Read more</b></button>

      </div>
    </div>
    <div class="col-lg-4 card">
      <img src="assets/images/articles-3.jpg" class="card-img-top spaced" alt="...">
      <div class="card-body">
        <h5 class="card-title">Having Mental Huminity</h5>
        <p class="card-text">At the point when we have mental resistance, we can turn into an outsider eyewitness to your consideration.</p>
        <p class="card-text"><small class="text-muted"></small></p>
        <button onclick="myFunction()" id="myBtn"><b>Read more</b></button>

      </div>
    </div>
  </div>
  <div>
    <button class=" demo btn btn-danger" style="background-color: lightseagreen; width:120px;">VIEW ALL</button>

  </div>
  
