
<footer class="container">
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: rgb(32, 50, 90)">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="width:90%">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3 firstFoot">

        <!-- Content -->
        <h5 class="text-uppercase"></h5>
        <img class="logo" src="assets/images/image3.png" >
        <p class="f1">+91 20 2970 4497</p>
        <p class="f1" >info@traitfit.com</p>
        <div class="icons"><i class="fa fa-facebook icons"></i>
          <i class="fa fa-google-plus icons"></i>
            <i class="fa fa-linkedin icons"></i>
          </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 botlist">
        <h5 class="text-uppercase" style="color:tomato"> QUICK LINKS</h5>

        <ul class="list-unstyled">
          <li>
            <a style="color: white;" routerLink="/Home" href="home/">Home</a>
          </li>
          <li>
            <a style="color: white;" routerLink="/Aboutus"href="Aboutus/"> About us</a>
          </li>
          <li>
            <a style="color: white;" routerLink="/Products" href="Products/">Products</a>
          </li>
         

         
          <li>
            <a style="color: white;" routerLink="/Products" href="Products/">Terms of use</a>
          </li>
         
        </ul>
       
        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5> -->

        

      </div>
      <div class="col-md-2 mb-md-0 mb-3 botlist" style="padding-top : 35px;">
        <ul class="list-unstyled">
          <li>
            <a style="color: white;" routerLink="/Assessment" href="Assessment/">Privacy Policy</a>
          </li>
          <li>
            <a style="color: white;" routerLink="/Aboutus"href="Aboutus/">Partner Login</a>
          </li>
        </ul>  
       </div>
      <div class="col-md-2 mb-md-0 mb-3">
        <h5 class="text-uppercase" style="color:tomato"> PRODUCTS</h5>

        <ul class="list-unstyled">
          <li style= "padding-top: 8px;">
            <a style="color: white;">Students,Colleges and Universities</a>
          </li>
          <li style= "padding-top: 8px;">
            <a style="color: white;">Professionals, Industries and Corporate </a>
          </li>
          

         
         
        </ul>

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5> -->

        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase" style="color:tomato"> Members</h5>
        <!-- Links -->
        <img src="assets/images/guidelines-itc.png" style="width:45%; height:40px; ">
       <img src="assets/images/guidelines-apa.png" style="width:50%; height:40px;float:right;margin-right: 8px;">
        <img src="assets/images/guidelines-siop.png" style= "width:205px; height:40px; margin-top:5px;">
<br>
<br>
  <p style="color:white;font-size: 15px;">A recognized startup by the Dipp,Govt. of india </p>
  <img src="assets/images/startindia.png" style="width:70%; height:50px;">
      </div>

      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <div class="col-md-3 mb-md-0 mb-3">
      
    </div>

  </div>
  <!-- Footer Links -->
<hr style="width: 90%; background-color: white; margin-bottom: 10px;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white; padding:10px;">Copyright © 2019 Traitfit.All rights reserved.
  </div>
  <!-- Copyright -->


</footer>
</footer>
<!-- Footer -->